In [1]:
#Import Dependencies 
import pandas as pd 
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [2]:
# Load in CSV
emissions_df = pd.read_csv("data/question4_df.csv")
emissions_df.head()

,country,region,year,avg_precip,avg_temp_c,avg_temp_f,iso,co2,methane,nitrous_oxide,total_ghg
0,Afghanistan,South Asia,2000,NaN,15.822667,60.48080,AFG,0.758,10.59,3.62,15.05
1,Afghanistan,South Asia,2001,NaN,15.847917,60.52625,AFG,0.798,9.36,3.22,13.47
2,Afghanistan,South Asia,2002,327.0,15.714583,60.28625,AFG,1.052,11.21,3.72,16.10
3,Afghanistan,South Asia,2003,NaN,15.132583,59.23865,AFG,1.186,11.56,3.92,16.78
4,Afghanistan,South Asia,2004,NaN,16.128417,61.03115,AFG,0.889,11.47,3.82,16.35