## What makes Small Island Developing States most vulnerable to climate change?

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv("data/question1_df.csv")
data

,iso,country,region,year,pop_total,pop_growth,gdp,imports,exports,avg_precip,co2,methane,nitrous_oxide,total_ghg,avg_temp_c,avg_temp_f
0,AFG,Afghanistan,South Asia,2000,20779953,2.975053,NaN,NaN,NaN,NaN,0.758,10.59,3.62,15.05,15.822667,60.48080
1,AFG,Afghanistan,South Asia,2001,21606988,3.902806,NaN,NaN,NaN,NaN,0.798,9.36,3.22,13.47,15.847917,60.52625
2,AFG,Afghanistan,South Asia,2002,22600770,4.496720,7.465115e+09,NaN,NaN,327.0,1.052,11.21,3.72,16.10,15.714583,60.28625
3,AFG,Afghanistan,South Asia,2003,23680871,4.668361,8.124454e+09,NaN,NaN,NaN,1.186,11.56,3.92,16.78,15.132583,59.23865
4,AFG,Afghanistan,South Asia,2004,24726684,4.321539,8.239344e+09,NaN,NaN,NaN,0.889,11.47,3.82,16.35,16.128417,61.03115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,ZWE,Zimbabwe,Sub-Saharan Africa,2009,12526968,1.183792,1.006194e+10,5.317417e+09,1.882655e+09,NaN,5.476,11.35,6.70,63.54,20.523833,68.94290
556,ZWE,Zimbabwe,Sub-Saharan Africa,2010,12697723,1.353893,1.204166e+10,6.440274e+09,3.569254e+09,NaN,7.864,11.87,7.11,66.54,21.165833,70.09850
557,ZWE,Zimbabwe,Sub-Saharan Africa,2011,12894316,1.536391,1.375084e+10,5.892849e+09,4.907581e+09,NaN,9.480,12.26,7.26,67.42,20.781750,69.40715
558,ZWE,Zimbabwe,Sub-Saharan Africa,2012,13115131,1.698001,1.604247e+10,7.065844e+09,4.306653e+09,657.0,7.659,12.17,6.92,67.63,20.523333,68.94200
559,ZWE,Zimbabwe,Sub-Saharan Africa,2013,13350356,1.777645,1.636164e+10,5.332707e+09,4.197687e+09,NaN,11.617,12.08,6.67,67.55,19.756500,67.56170

In [9]:
#identify countries by their unfccc negotiating parties
##small island developing states
sids = ['Bahrain', 'Cabo Verde', 'Comoros', 'Guinea-Bissau', 'Maldives', 'Mauritius', 
        'Sao Tomé and Principe', 'Seychelles', 'Singapore', 'Antigua and Barbuda', 
        'Bahamas', 'Barbados', 'Belize', 'Cuba', 'Dominica', 'Dominican Republic',
        'Grenada', 'Guyana', 'Haiti', 'Jamaica', 'Saint Kitts and Nevis', 
        'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago',
        'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia (Federated States of)',
        'Nauru', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Timor-Leste',
        'Tonga', 'Tuvalu', 'Vanuatu']
##least developed countries
ldc = ['Afghanistan', 'Angola', 'Bangladesh', 'Benin', 'Bhutan', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Central African Republic', 'Chad', 'Comoros', 'Democratic Republic of the Congo',
       'Djibouti', 'Eritrea', 'Ethiopia', 'Gambia', 'Guinea', 'Guinea Bissau', 'Haiti', 'Kiribati',
       "Lao People's Democratic Republic", 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mozambique', 'Myanmar', 'Nepal', 'Niger', 'Rwanda', 'Sao Tome and Principe', 
       'Senegal', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Sudan', 'Sudan', 'Timor Leste', 
       'Togo', 'Tuvalu', 'Uganda', 'United Republic of Tanzania', 'Vanuatu', 'Yemen', 'Zambia']
##european union
eu = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Republic of Cyprus', 'Czech Republic', 'Denmark', 
      'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 
      'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 
      'Slovenia', 'Spain', 'Sweden']
#organization of petroleum-exporting countries
opec = ['Algeria', 'Angola', 'Congo', 'Ecuador', 'Equatorial Guinea', 'Gabon', 'Iran', 'Iraq', 
        'Kuwait', 'Libya', 'Nigeria', 'Qatar', 'Saudi Arabia', 'United Arab Emirates', 'Venezuela']

In [18]:
sids_subset = data[data['country'].isin(sids)]
ldc_subset = data[data['country'].isin(ldc)]
eu_subset = data[data['country'].isin(eu)]
opec_subset = data[data['country'].isin(opec)]
#removing Angola from ldc subset because it is also in opec subset
ldc_subset = ldc_subset[ldc_subset['country']!='Angola']

2
6
4
4
['Angola' 'Iraq' 'Nigeria' 'Saudi Arabia']
['Afghanistan' 'Bangladesh' 'Ethiopia' 'Sudan' 'Senegal' 'Somalia']
['Afghanistan' 'Bangladesh' 'Ethiopia' 'Sudan' 'Senegal' 'Somalia']